.navbar-inverse {
  background-color: rgba(192,192,192,0.5);
  border: 0;
}

.navbar-brand {
  font-weight: bold;
  color: rgba(255,182,193,0.8);
}

.navbar-toggle {
  border: 0;
}

.jumbotron {
  background-position: absolute;
  background-image: url(https://i.pinimg.com/originals/85/6d/e1/856de1f782fad66f7ef53dc230e238cb.jpg);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

body {
  padding-top: 70px;
}

img {
  width: 100%
}

.container {
  position: relative;
  width: 100%;
}

.add-padding {
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.row .col-md-6 .add-padding{
	padding-bottom: 20px;
}

blockquote p {
	line-height: 1.2;
}

.blockquote-footer {
	font-size: 70%;
}

#Codefirst {
	background-color: rgba(32, 35, 41, 0.9);
	color: #ddd;
	padding: 50px 0;
}
